.header-color {
  background-color: #3c565b;
}
/* #FF7722 */
.logo {
  width: 120px;
}
.header-signup-btn {
  background-color: #ff7e6d;
  border-style: none;
}
.header-login-btn {
  background-color: #5ea11e;
  border-style: none;
}
