.info-text {
  display: flex;
  flex-direction: column;
}
.info-btn {
  background-color: #ff7722;
  border-style: none;
  transition: all 0.5s;
}
.info-btn:hover {
  background-color: black;
  color: white;
}
.common-color {
  color: #ff7722;
}
